{
  "swift": {
    "username": "",
    "password": "",
    "tenantId": "",
    "tenantName": "",
    "region": "GRA1",
    "authUrl": "https://auth.cloud.ovh.net/",
    "authId": "v2.0",
    "container": "uploads"
  }
}